<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:label="Template Extension">
        <meta-data
            android:name="extension.provider.class"
            android:value="com.playstream.extension.template.TemplateProvider" />
    </application>
</manifest>
